<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    {% block head %}
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/style.css" />
    <title>{% block title %}{% endblock %} - My Webpage</title>
    {% endblock %}
</head>
<body>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
        <div id="common-footer">
            {% include 'component/footer.html' %}
        </div>
        <div id="copyright-footer">
            &copy; 版权所有：泰州市北青环境科技有限公司 备案号：<a href="">苏......</a>
        </div>
    </div>
</body>
</html>